@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Sarabun", "Roboto", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.sarabun {
  font-family: "Sarabun", sans-serif;
}
