@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Sarabun", "Roboto", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.sarabun {
  font-family: "Sarabun", sans-serif;
}

/* Set the scrollbar width and style */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Set the track color (background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: #eeeeec;
  border-radius: 10px; /* Use the recommended lightest shade of sand from Radix UI */
}

/* Set the thumb color (the moving part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #706f6c; /* Use the recommended base shade of sand from Radix UI */
  border-radius: 10px;
}

/* Set the hover color of the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #1b1b18; /* Use the recommended darker shade of sand from Radix UI */
}

.caret {
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  transition: 0.12s;
}

.caret {
  position: absolute;
  display: inline;
}

@keyframes flash {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
